{# src/UserManagement/UserMgtBundle/Resources/views/Default/changepass.html.twig #}
{% extends 'UserManagementUserMgtBundle::layout.html.twig' %}
{% block body %}
<div class="site-wrapper">

      <div class="site-wrapper-inner">

        <div class="cover-container">

          {% include 'UserManagementUserMgtBundle::mainnav.html.twig' %}

          <div class="inner cover">
            <h1 class="cover-heading">
              {% block title %}Change Password{% endblock %}
            </h1>
            <form action="{{ path('changepass') }}" method="post" {{ form_enctype(form) }} class="form-signup" role="form">
            	{% for flashMessage in app.session.flashbag.get('alert-danger') %}
      					<div class="alert alert-danger" role="alert">
      					{{ flashMessage }}
      					</div> 
      				{% endfor %}
              {% for flashMessage in app.session.flashbag.get('alert-success') %}
                <div class="alert alert-success" role="alert">
                {{ flashMessage }}
                </div> 
              {% endfor %}
      				{{ form_errors(form) }}

      			    {{ form_row(form.password) }}
                {{ form_row(form.newpassword) }}
      			    {{ form_row(form.connewpassword) }}
			    
			    {{ form_rest(form) }}
			    {#
			        If you want to control the URL the user
			        is redirected to on success (more details below)
			        <input type="hidden" name="_target_path" value="/account" />
			    #}
			    <button class="btn btn-lg btn-primary btn-block" type="submit">Update Password</button>
			</form>
          </div>

          <div class="mastfoot">
            <div class="inner">
              <p>Cover template for <a href="http://getbootstrap.com">Bootstrap</a>, by <a href="https://twitter.com/mdo">@mdo</a>.</p>
            </div>
          </div>

        </div>

      </div>

    </div>
{% endblock %}