{# src/UserManagement/UserMgtBundle/Resources/views/Default/forgotpass.html.twig #}
{% extends 'UserManagementUserMgtBundle::layout.html.twig' %}
{% block body %}
<div class="container">
    <div class="row vertical-offset-100">
    	<div class="col-md-4 col-md-offset-4">
    		<div class="panel panel-default">
			  	<div class="panel-heading">
			    	<h3 class="panel-title">{% block title %}Forgot Password{% endblock %}</h3>
			 	</div>
			  	<div class="panel-body">
					<form action="{{ path('forgotpass') }}" method="post" {{ form_enctype(form) }} class="form-signup" role="form">
			        	{% for flashMessage in app.session.flashbag.get('alert-danger') %}
							<div class="alert alert-danger" role="alert">
							{{ flashMessage }}
							</div> 
						{% endfor %}
			  				{{ form_errors(form) }}

			  			    {{ form_row(form.email) }}
					    
					    {{ form_rest(form) }}
					    {#
					        If you want to control the URL the user
					        is redirected to on success (more details below)
					        <input type="hidden" name="_target_path" value="/account" />
					    #}
					    <button class="btn btn-lg btn-warning btn-block" type="submit">Reset Password</button>
					    <p class="space">
						    <a href="{{ path('login') }}"><span class="back">&laquo; Back to login page</span></a>
						</p>
					</form>
				</div>
			</div>
		</div>
	</div>
{% endblock %}